<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dave Moss Tuning Videos List</title>
	<link rel="stylesheet" href="">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
	<script src="vue.min.js"></script>
	<script src="axios.min.js"></script>
	<style>
		body {
			font-family: 'Roboto Condensed', sans-serif;
		}

		input,
		select,
		body {
			font-family: 'Roboto Condensed', sans-serif;
		}

		.tagsCol {
			font-size: 0.7em;
			text-align: center;
		}

		.perex {
			font-size: 0.7em;
			color: lightslategrey;
		}


		table {
			border-collapse: collapse;
		}

		table td {
			height: 1.8em;
			padding: 1px;
		}

		table tr {
			border-spacing: 0px;
			padding: 0px;
		}

		a:link {
			text-decoration: none;
			color: rgb(87, 97, 245)
		}

		a:visited {
			color: darkblue;
		}

		.oddRow {
			background-color: rgb(234, 243, 248);
		}

		.header {
			font-size: 0.7em;
			color: lightslategrey;
			text-align: left;
		}
	</style>
</head>

<body>
	<div width="100%" height="5%">
		<a href="http://davemosstuning.com"><img src="DMT-logo-clear-2x.png" width="117px" height="70px" alt=""></a>
	</div>
	<div id="app">
		<template v-if="starting">
			<div style="text-align: center;" ref="loadingDiv">Loading data</div>
		</template>
		<template v-else>
			<div class="header" v-if="lastUpdate">Last update: {{ lastUpdate }}</div>
			<table>
				<tr height="1.5em">
					<td width="13%" class="header">Showing {{ entries }} entries</td>
					<td>
						<select name="series" @change=filter ref="seriesFilter" style="width:29%">
							<option value="all">All</option>
							<option v-for="(value, key) in distillSeries" :value=key>{{ value }}</option>
						</select>
						<input type="text" @input=filter ref="titleFilter" style="width:60%"></td>
					<td width="20%" style="text-align: center;">Category: <input type="text" @input=filter ref="categoryFilter">
					</td>
					<td width="20%" style="text-align: center;">Tag: <input type="text" @input=filter ref="tagFilter"></td>
				</tr>
				<tr v-for="(video, idx) in filteredData" :class="idx%2?'oddRow':''">
					<td>{{ video.Date }}</td>
					<td><a target="_blank" :href=video.URL :alt=video.Perex>{{ video.Title }}</a>
						<div class="perex">{{ video.Perex }}</div>
					</td>
					<td class="tagsCol">{{ formatTags(video.Categories) }}</td>
					<td class="tagsCol">{{ formatTags(video.Tags) }}</td>
				</tr>
			</table>
		</template>
	</div>

	<script>
		function includesAll(text, keywords) {
			for (keyword of keywords) {
				if (!text.includes(keyword)) {
					return false;
				}
			}
			return true;
		}
		var domain = window.location.host;
		if (domain.startsWith("localhost")) {
			domain = "http://" + domain
		} else {
			domain = "https://" + domain
		}
		var myAxios = axios.create({
			baseURL: domain + '/api/',
			timeout: 7000,
			headers: { 'X-Custom-Header': 'foobar' }
		});
		var completeData;
		new Vue({
			el: '#app',
			data: {
				filteredData: null,
				starting: true,
				title: 'Dave Moss Tuning',
				series: [],
				lastUpdate: "",
				entries: 0,
			},
			computed: {
				distillSeries: function () {
					var series = {};
					var counter = {};
					for (var video of completeData) {
						var title = video["Title"].match(/(.*): /)
						if (title != null) {
							var lowerCasePrefix = title[1].toLowerCase();
							series[lowerCasePrefix] = title[1]
							// count every title with more than one prefix occurance 
							if (counter[lowerCasePrefix] == undefined) {
								counter[lowerCasePrefix] = 0
							}
							counter[lowerCasePrefix] = counter[lowerCasePrefix] + 1
						}
					}
					var orderedSeries = {};
					var sortedKeys = Object.keys(series).sort()
					for (key of sortedKeys) {
						if (counter[key] > 1) { // if there is only single title begining with "blablabla:" dont show it
							orderedSeries[key] = series[key]
						}
					}
					return orderedSeries
				},
			},
			methods: {
				formatTags: function (tags) {
					if (tags == null) return ""
					return tags.join(", ")
				},
				filterBySerie: function (title) {
					var value = this.$refs.seriesFilter.value;
					if (value == "all") {
						return true;
					}
					if (title.toLowerCase().startsWith(value)) {
						return true;
					}
					return false;
				},
				filterByTitle: function (title) {
					var value = this.$refs.titleFilter.value.toLowerCase();
					if (value == "") {
						return true;
					}
					if (includesAll(title.toLowerCase(), value.split(" "))) {
						return true;
					}
					return false;
				},
				filterByTag: function (tags) {
					var value = this.$refs.tagFilter.value.toLowerCase();
					if (value == "") {
						return true;
					}
					if (tags == null) {
						return false;
					}
					for (var tag of tags) {
						if (tag.toLowerCase().includes(value)) {
							return true;
						}
					}
					return false;
				},
				filterByCategory: function (categories) {
					var value = this.$refs.categoryFilter.value.toLowerCase();
					if (value == "") {
						return true;
					}
					if (categories == null) {
						return false;
					}
					for (var cat of categories) {
						if (cat.toLowerCase().includes(value)) {
							return true;
						}
					}
					return false;
				},
				filter: function (event) {
					var filteredData = []
					for (var video of completeData) {
						if (this.filterBySerie(video['Title'])) {
							if (this.filterByTitle(video['Title'])) {
								if (this.filterByCategory(video['Categories'])) {
									if (this.filterByTag(video['Tags'])) {
										filteredData.push(video)
									}
								}
							}
						}
					}
					this.entries = filteredData.length
					this.filteredData = filteredData
				},
			},
			mounted() {
				var vueInstance = this
				myAxios.get('serveData')
					.then(function (response) {
						vueInstance.filteredData = response.data
						completeData = response.data
						vueInstance.entries = response.data.length
						vueInstance.starting = false
						console.log("Data successfuly loaded. Loaded:", vueInstance.entries, "items")
					})
					.catch(function (response) {
						vueInstance.$refs.loadingDiv.innerHTML = "Data loading failed. Try again later..."
						console.log("Can't get data")
					});
				myAxios.get('lastUpdate')
					.then(function (response) {
						vueInstance.lastUpdate = response.data.Modified
					});
			}
		});
	</script>
</body>

</html>